* {
    padding: 0;
    margin: 0;
}

.main-banner {
    display: flex;
    background-color: red;
    height: 77px;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
}

.menu-bg h2 {
    font-size: 38px;
    font-weight: bold;
    align-items: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 70%;
    padding: 12px;
}

.search {
    padding: 10px 150px;
}

.search input {
    width: 404px;
    height: 24px;
    padding: 10px;
}

.fa-brands {
    color: #fff;
    font-size: 30px;
}

.fa-solid {
    margin-left: -30px;
    color: red;
}

.services {
    display: flex;
}

.services p {
    color: #fff;
    font-size: 16px;
    margin: 0 auto;
    padding-left: 8px;
    align-items: center;
    padding-top: 6px;
}

.buy-wpp {
    display: flex;
    align-items: center;
}

.buy-wpp p {
    color: #fff;
    font: 16px;
    padding-right: 32px;
    padding-left: 6px;
}

.fa-headset {
    color: #fff;
    font-size: 30px;
}

.welcome {
    display: flex;
    align-items: center;
}

.welcome p {
    font-size: 16px;
    color: #fff;
    margin-left: 8px;
    padding: 8px;
}

.fa-circle-user {
    color: #fff;
    font-size: 34px;
    padding-right: 32px;
}

.fa-heart {
    color: #fff;
    font-size: 34px;
}

.fa-bag-shopping {
    color: #fff;
    margin: 8px;
    font-size: 34px;
}

/*nav*/
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding-left: 120px;
}

.menu {
    align-items: center;
    display: flex;
    padding-right: 500px;
    margin: 0 auto;
    padding-left: 34px;
}

.menu ul {
    list-style: none;
    align-items: center;
    display: flex;
    margin: 0 auto;


}

.menu li {
    padding: 28px;
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
}

.menu li a {
    text-decoration: none;

}

.red-list {
    color: red;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.location {
    display: flex;
    align-items: center;
    padding-right: 210px;
    padding-top: 10px;
    width: 10%;
    padding-bottom: 96px;
}

.location input {
    width: 138px;
    height: 23px;
}

.fa-map-location-dot {
    color: black;
    padding-right: 8px;
}

.cards {
    display: flex;
    border: solid 2px black;
    justify-content: space-around;
}

.card-one {
    background-color: red;
    width: 278px;
    height: 172px;
}

.card-frete h3 {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.card-one p {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.fa-truck-fast {
    font-size: 72px;
    color: white;
}

.card-frete {
    display: flex;
    align-items: center;
    padding: 15px;
}

.card-two {
    background-color: red;
    width: 278px;
    height: 172px;
}

.card-frete-two {
    display: flex;
    align-items: center;
    padding: 15px;
}

.fa-clock-rotate-left {
    color: black;
    font-size: 72px;
}

.card-frete-two h3 {
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cards p{
    color: white;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-three{
    background-color: red;
    width: 278px;
    height: 172px;
}
.card-frete-three{
    display: flex;
    align-items: center;
    padding: 15px;
}
.fa-credit-card{
    color: white;
    font-size: 72px;
}
.card-frete-three{
    display: flex;
}
.card-frete-three h3{
    color: white;
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-four{
    background-color: red;
    width: 278px;
    height: 172px;
}
.fa-mobile-screen-button{
    color: white;
    font-size: 72px;
}
.card-frete-four h3{
    color: white;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-frete-four{
    display: flex;
}